<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link href="/css/profile.style.client.css"
      rel="stylesheet"/>
<title>Profile Page</title>
</head>
<body>
		<div class="container-fluid1">
		<div><h1 >Profile</h1></div>
		<form>
		<div class="form-group row">
			<label for="userName" class="col-auto" >Username :</label>
		<div class="col-sm-10">	
			<input 	id="userName"
					class="form-control mb-2" 
					type="text" 
					name="username">			
		</div>
		</div>
		<div class="form-group row">
			<label for="firstName" class="col-auto">First Name :</label>
			<div class="col-sm-10">	
			<input 	id="firstName"
					class="form-control mb-2" 
					type="text" 
					name="firstName">	
			</div>
		</div>
		<br>
		<div class="form-group row">
			<label for="lastName" class="col-auto">last Name :</label>
			<div class="col-sm-10">
			<input 	id="lastName"
					class="form-control mb-2" 
					type="text" 
					name="lastName">	
			</div>
		</div>
		<br>
		<div class="form-group row">
			<label for="phone" class="col-auto">Phone :</label>
			<div class="col-sm-10">
			<input 	id="phone"
					class="form-control mb-2" 
					type="text" 
					name="phone">
			</div>
		</div>
		<br>
		<div class="form-group row">
			<label for="email" class="col-auto">Email :</label>
			<div class="col-sm-10">
			<input 	id="email"
					class="form-control mb-2" 
					type="text" 
					name="email">	
			</div>
		</div>
		<br>
		<div class="form-group row">
			<label for="role" class="col-auto">Role :</label>
			<div class="col-sm-10">
			<select id="role"><option value="Faculty">Faculty</option>
                  			  <option value="Student">Student</option>
                  			  <option value="Admin">Admin</option></select>	
			</div>
		</div>
		<br>
		<div class="form-group row">
			<label for="dob">Date of Birth :</label>
			<div class="col-sm-10">
			<input 	id="dob"
					class="form-control" 
					type="date" 
					name="dob">	
			</div>
		</div>
		<br>
		<button id="updateBtn" class="btn btn-success btn-block">Update</button>
		<button id="logOutBtn" class="btn btn-danger btn-block">LogOut</button>
		</form>
		</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/services/user.service.client.js"></script>
<script src ="/components/profile/profile.controller.client.js"></script> 
</body>
</html>